.output {
    margin: auto;
    text-align: right;
}

#value {
    font-size: 25px;
    font-family: "Arial Black";
}

#equation {
    font-family: "Arial";
}

.extra-padding {
    padding-top: 10px;
}

.button-padding {
    padding-bottom: 5px;
}

#header {
    text-align: center;
    font-family: "Arial";
    font-size: 40px;
}

