.output {
    margin: auto;
    text-align: right;
}

#value {
    font-size: 25px;
    font-family: "Orbitron";
}

#equation {
    font-family: "Orbitron";
}

.extra-padding {
    padding-top: 10px;
}

.button-padding {
    padding-bottom: 5px;
}

#header {
    text-align: center;
    font-family: "Orbitron";
    font-size: 40px;
}

.button-cool {
    background-color: antiquewhite;
}

.button-operand {
    background-color: #b3d4fc;
}

.button-equal {
    background-color: #1b8600;
}

.button-clear {
    background-color: crimson;
}

.button-all {
    box-shadow: 1px 1px;
}

#calculator {
    box-shadow: 2px 2px;
    background-color: beige;
}

#screen {
    border-width: 5px;
    border-color: lightgray;
}

body {
    background-color: #999999;
}

button:focus {outline:0;}
